WEB CONSULTAS/Connected Services/ProxyConsultas/WCF_ESCUELA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSeccionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeccionDC" nillable="true" type="tns:SeccionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeccionDC" nillable="true" type="tns:ArrayOfSeccionDC" />
  <xs:complexType name="SeccionDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_Grado" type="xs:int" />
      <xs:element minOccurs="0" name="Cod_Profesor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Seccion" type="xs:int" />
      <xs:element minOccurs="0" name="Est_Seccion" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_Seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Turno_Profesor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeccionDC" nillable="true" type="tns:SeccionDC" />
  <xs:complexType name="MatriculaDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_Est" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellNom_ven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_MATRICULA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI_EST" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO_MATRI" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_MATRI" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_SECCION" type="xs:short" />
      <xs:element minOccurs="0" name="Nom_Est" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_Secc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatriculaDC" nillable="true" type="tns:MatriculaDC" />
  <xs:complexType name="ArrayOfMatriculaDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatriculaDC" nillable="true" type="tns:MatriculaDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatriculaDC" nillable="true" type="tns:ArrayOfMatriculaDC" />
  <xs:complexType name="ArrayOfProfesorDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfesorDC" nillable="true" type="tns:ProfesorDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfesorDC" nillable="true" type="tns:ArrayOfProfesorDC" />
  <xs:complexType name="ProfesorDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="APE_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApeNom_Prof" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTAMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESPECIALIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_PROF" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FOTO_PROF" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Fec_Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_UBIGEO" type="xs:int" />
      <xs:element minOccurs="0" name="NOM_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEXO_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELF_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfesorDC" nillable="true" type="tns:ProfesorDC" />
  <xs:complexType name="ArrayOfEstudianteDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstudianteDC" nillable="true" type="tns:EstudianteDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstudianteDC" nillable="true" type="tns:ArrayOfEstudianteDC" />
  <xs:complexType name="EstudianteDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="APE_EST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ape_Apo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellNom_EST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI_APO" type="xs:int" />
      <xs:element minOccurs="0" name="DNI_EST" type="xs:int" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EST_EST" type="xs:short" />
      <xs:element minOccurs="0" name="FEC_NAC_EST" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FOTO_EST" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Fec_Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grado_Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_UBIGEO" type="xs:int" />
      <xs:element minOccurs="0" name="NOM_EST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_Apo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEXO_EST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel_Apo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstudianteDC" nillable="true" type="tns:EstudianteDC" />
</xs:schema>