WEB CONSULTAS/Connected Services/ProxyCurso/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioCurso" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioCurso_ConsultarCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCurso" />
  </wsdl:message>
  <wsdl:message name="IServicioCurso_ConsultarCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCursoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCurso_ListarCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCurso" />
  </wsdl:message>
  <wsdl:message name="IServicioCurso_ListarCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCursoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCurso_InsertarCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarCurso" />
  </wsdl:message>
  <wsdl:message name="IServicioCurso_InsertarCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarCursoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCurso_ActualizarCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCurso" />
  </wsdl:message>
  <wsdl:message name="IServicioCurso_ActualizarCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCursoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCurso_EliminarCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCurso" />
  </wsdl:message>
  <wsdl:message name="IServicioCurso_EliminarCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCursoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioCurso">
    <wsdl:operation name="ConsultarCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCurso/ConsultarCurso" message="tns:IServicioCurso_ConsultarCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCurso/ConsultarCursoResponse" message="tns:IServicioCurso_ConsultarCurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCurso/ListarCurso" message="tns:IServicioCurso_ListarCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCurso/ListarCursoResponse" message="tns:IServicioCurso_ListarCurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCurso/InsertarCurso" message="tns:IServicioCurso_InsertarCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCurso/InsertarCursoResponse" message="tns:IServicioCurso_InsertarCurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCurso/ActualizarCurso" message="tns:IServicioCurso_ActualizarCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCurso/ActualizarCursoResponse" message="tns:IServicioCurso_ActualizarCurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCurso/EliminarCurso" message="tns:IServicioCurso_EliminarCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCurso/EliminarCursoResponse" message="tns:IServicioCurso_EliminarCurso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioCurso" type="tns:IServicioCurso">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarCurso">
      <soap:operation soapAction="http://tempuri.org/IServicioCurso/ConsultarCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCurso">
      <soap:operation soapAction="http://tempuri.org/IServicioCurso/ListarCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCurso">
      <soap:operation soapAction="http://tempuri.org/IServicioCurso/InsertarCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCurso">
      <soap:operation soapAction="http://tempuri.org/IServicioCurso/ActualizarCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCurso">
      <soap:operation soapAction="http://tempuri.org/IServicioCurso/EliminarCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCurso">
    <wsdl:port name="BasicHttpBinding_IServicioCurso" binding="tns:BasicHttpBinding_IServicioCurso">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_ESCUELA/ServicioCurso/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>