WEB CONSULTAS/Connected Services/ProxyCurso/WCF_ESCUELA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CursoDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="COD_CURSO" type="xs:short" />
      <xs:element minOccurs="0" name="Est_Curso" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_GRADO" type="xs:short" />
      <xs:element minOccurs="0" name="Nom_Curso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CursoDC" nillable="true" type="tns:CursoDC" />
  <xs:complexType name="ArrayOfCursoDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CursoDC" nillable="true" type="tns:CursoDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCursoDC" nillable="true" type="tns:ArrayOfCursoDC" />
</xs:schema>