WEB CONSULTAS/Connected Services/ProxyMatricula/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" />
  <xs:element name="ConsultarMatricula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarMatriculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" minOccurs="0" name="ConsultarMatriculaResult" nillable="true" type="q1:MatriculaDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMatricula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" minOccurs="0" name="objMatriculaDC" nillable="true" type="q2:MatriculaDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMatriculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarMatriculaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMatricula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" minOccurs="0" name="objMatriculaDC" nillable="true" type="q3:MatriculaDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMatriculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarMatriculaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMatricula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMatriculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarMatriculaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMatricula">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMatriculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" minOccurs="0" name="ListarMatriculaResult" nillable="true" type="q4:ArrayOfMatriculaDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>