WEB CONSULTAS/Connected Services/ProxyProfesor/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioProfesor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioProfesor_ConsultarProfesor_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProfesor" />
  </wsdl:message>
  <wsdl:message name="IServicioProfesor_ConsultarProfesor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProfesorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProfesor_ListarProfesor_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProfesor" />
  </wsdl:message>
  <wsdl:message name="IServicioProfesor_ListarProfesor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProfesorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProfesor_InsertarProfesor_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProfesor" />
  </wsdl:message>
  <wsdl:message name="IServicioProfesor_InsertarProfesor_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProfesorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProfesor_ActualizarProfesor_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProfesor" />
  </wsdl:message>
  <wsdl:message name="IServicioProfesor_ActualizarProfesor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProfesorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProfesor_EliminarProfesor_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProfesor" />
  </wsdl:message>
  <wsdl:message name="IServicioProfesor_EliminarProfesor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProfesorResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioProfesor">
    <wsdl:operation name="ConsultarProfesor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProfesor/ConsultarProfesor" message="tns:IServicioProfesor_ConsultarProfesor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProfesor/ConsultarProfesorResponse" message="tns:IServicioProfesor_ConsultarProfesor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProfesor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProfesor/ListarProfesor" message="tns:IServicioProfesor_ListarProfesor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProfesor/ListarProfesorResponse" message="tns:IServicioProfesor_ListarProfesor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarProfesor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProfesor/InsertarProfesor" message="tns:IServicioProfesor_InsertarProfesor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProfesor/InsertarProfesorResponse" message="tns:IServicioProfesor_InsertarProfesor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProfesor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProfesor/ActualizarProfesor" message="tns:IServicioProfesor_ActualizarProfesor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProfesor/ActualizarProfesorResponse" message="tns:IServicioProfesor_ActualizarProfesor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProfesor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProfesor/EliminarProfesor" message="tns:IServicioProfesor_EliminarProfesor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProfesor/EliminarProfesorResponse" message="tns:IServicioProfesor_EliminarProfesor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioProfesor" type="tns:IServicioProfesor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarProfesor">
      <soap:operation soapAction="http://tempuri.org/IServicioProfesor/ConsultarProfesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProfesor">
      <soap:operation soapAction="http://tempuri.org/IServicioProfesor/ListarProfesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarProfesor">
      <soap:operation soapAction="http://tempuri.org/IServicioProfesor/InsertarProfesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProfesor">
      <soap:operation soapAction="http://tempuri.org/IServicioProfesor/ActualizarProfesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProfesor">
      <soap:operation soapAction="http://tempuri.org/IServicioProfesor/EliminarProfesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProfesor">
    <wsdl:port name="BasicHttpBinding_IServicioProfesor" binding="tns:BasicHttpBinding_IServicioProfesor">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_ESCUELA/ServicioProfesor/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>