WEB CONSULTAS/Connected Services/ProxyProfesor/WCF_ESCUELA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProfesorDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="APE_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApeNom_Prof" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTAMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESPECIALIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_PROF" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FOTO_PROF" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Fec_Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_UBIGEO" type="xs:int" />
      <xs:element minOccurs="0" name="NOM_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEXO_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELF_PROF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfesorDC" nillable="true" type="tns:ProfesorDC" />
  <xs:complexType name="ArrayOfProfesorDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfesorDC" nillable="true" type="tns:ProfesorDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfesorDC" nillable="true" type="tns:ArrayOfProfesorDC" />
</xs:schema>