WEB CONSULTAS/Connected Services/ProxyEstudiante/WCF_ESCUELA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ESCUELA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EstudianteDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="APE_EST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ape_Apo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellNom_EST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI_APO" type="xs:int" />
      <xs:element minOccurs="0" name="DNI_EST" type="xs:int" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EST_EST" type="xs:short" />
      <xs:element minOccurs="0" name="FEC_NAC_EST" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FOTO_EST" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Fec_Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grado_Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_UBIGEO" type="xs:int" />
      <xs:element minOccurs="0" name="NOM_EST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_Apo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEXO_EST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel_Apo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstudianteDC" nillable="true" type="tns:EstudianteDC" />
  <xs:complexType name="ArrayOfEstudianteDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstudianteDC" nillable="true" type="tns:EstudianteDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstudianteDC" nillable="true" type="tns:ArrayOfEstudianteDC" />
</xs:schema>